/* static/css/base.css */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
      /* Убираю отступы. */
    margin: 0px;
    padding: 0px;

    /* Градиент */
  background: linear-gradient(#eae5c9, #6cc6cb) fixed;
}

header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  display: flex;
  color: black;

}

header h1 a {
  color: black;
  text-decoration: none;
}

.nav-left {
  margin-right: auto;
}

.post-entry {
  margin-bottom: 2rem;
}

.post-entry h2 {
  margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
  color: blue;
  text-decoration: none;
}

.post-entry p {
  margin: 0;
  font-weight: 400;
}

.post-entry h2 a:hover {
  color: black;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin: 0 20px;
  font-size: 24px;
  transition: .3s ease-in-out;
}

.hyperlink {
  border-bottom: 2px solid #5be;
  color: #555;
  background-image: linear-gradient(180deg, transparent 65%, #5bf 65%);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
}
.hyperlink:hover {background-size: 100% 100%;}

 #add_bar ul{
display: none;
position: absolute;
top: 100%;
}
#add_bar li:hover ul { display: block; }
#add_bar, #add_bar ul{
margin: 0;
padding: 0;
list-style-type: none;
}
#add_bar {
height: 50px;
padding-left: 25px;
min-width: 470px;
}
#add_bar li {
float: left;
position: relative;
height: 100%;
}
#add_bar li a {
text-decoration: none;
display: inline-block;
padding: 5px 10px;
letter-spacing: 1px;
margin: 0 20px;
font-size: 24px;
transition: .3s ease-in-out;
}
#add_bar ul li { float: none; }
#add_bar li:hover { background-size: 100% 100%;}
#add_bar ul li:hover { background-size: 100% 100%; }
