.form__wrapper {
    width: 660px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 16px;
}


.main {
  list-style-type: none;
}
.fieldWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}
.fieldWrapper > label {
    padding: 8px 16px 8px 0;
    flex: 1;
}

.fieldWrapper > input {
  flex: 2;*
  margin:10px 0;
  padding:15px;
  border-radius:10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: .3s box-shadow;
  border: none;
}

.fieldWrapper > select {
  flex: 2;*
  width: 100%;
  padding:15px;
  border-radius:10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: .3s box-shadow;
  border: none;
}

.fieldWrapper > input:focus {
  background-color: white;
  border-color: white;
}

.fieldWrapper > input[type="submit"] {
    padding:10px;
    border-radius:10px;
    margin:auto;
    width:200px;
}
.fieldWrapper > input[type="submit"]:focus {
  background-color: white;
  border-color: black;
  // and any other style
}

.fieldWrapper > input[type="submit"]:hover  {
   border-color: black;
}