<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}


{% block content %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">

<style>
* {
  box-sizing: border-box;
}
.contract_link {
    font-size: 14px;
   border-bottom: 2px solid #5be;
   color: #555;
   background-image: linear-gradient(180deg, transparent 65%, #5bf 65%);
   background-position: 0% 100%;
   background-repeat: no-repeat;
   background-size: 100% 0%;
}
.contract_link:hover {
   background-size: 100% 100%;
}
</style>

<table id="DocumentsTable" >
    <tr class="header">
        <th>Договор</th>
        <th>№ договора</th>
        <th>Дата заключения</th>
        <th>Контрагент</th>
        <th>Стоимость</th>
        <th>Статус</th>
        <th>Автор регистрации</th>
    </tr>
    {% for item in object_list %}
    <tr>
            <td><a href="{% url 'detail' item.pk %}" class="contract_link">{{ item.contract_full_name }}</a></td>
            <td>{{ item.number }}</td>
            <td>{{ item.contract_date }}</td>
            <td>{{ item.contract_agent }}</td>
            <td>{{ item.contract_cost }}</td>
            <td>{{ item.contract_status }}</td>
            <td>{{ item.author }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}