<!-- templates/post_detail.html -->
{% extends 'base.html' %}
{% load static %}


{% block content %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">

<style>
td {
    word-wrap:break-word;
}
</style>

<table class="detail_table" id="DocumentsTable" >
  <tr>
	<td class="header" colspan="2">Данные по договору: {{contract.contract_full_name}}</td>
  </tr>
  <tr>
	<td>Дата подписания договора</td>
	<td>{{contract.contract_date}}</td>
  </tr>

	  <tr>
	<td>Полный номер договора</td>
	<td>{{contract.departament_code}}-{{contract.contract_index}}-{{contract.number}}</td>
  </tr>

  <tr>
	<td>Порядковый номер договора</td>
	<td>{{contract.number}}</td>
  </tr>

    <tr>
	<td>Индекс по номенклатуре дел</td>
	<td>{{contract.contract_index}}</td>
  </tr>

	<tr>
	<td>Исполнитель</td>
	<td>{{contract.executor}}</td>
  </tr>

		<tr>
	<td>Контрагент</td>
	<td>{{contract.contract_agent}}</td>
  </tr>

		<tr>
	<td>Стоимость</td>
	<td>{{contract.contract_cost}}</td>
  </tr>

	<tr>
	<td>Текущий статус договора</td>
	<td>{{contract.contract_status}}</td>
  </tr>
	{% if contract.document %}
		<tr>
	<td>Файл договора</td>
	<td><a href="/media/{{contract.document}}" class="link_in_table">{{contract.document}}</a></td>
  </tr>
	{% endif %}
    <tr>
	<td class="header" colspan="2">Служебная информация:</td>
  </tr>

  <tr>
	<td>Дата регистрации договора</td>
	<td>{{contract.registration_date}}</td>
  </tr>

  <tr>
	<td>Код отдела</td>
	<td>{{contract.departament_code}}</td>
  </tr>

  <tr>
	<td>Автор регистрации договора</td>
	<td>{{contract.author}}</td>
  </tr>

  <tr>
	<td class="header" colspan="2">
	<a href="{% url 'contract_edit' contract.pk %}" class="link_in_table">Редактировать</a></td>
  </tr>

		<td class="header" colspan="2">
		<a href="{% url 'contract'%}" class="link_in_table">Назад к журналу</a></td>
  </tr>

</table>

{% endblock content %}