<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}


{% block content %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">

    <input type="text" id="search_input" onkeyup="myFunction()" placeholder="Поиск по отделу...">

    <script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("search_input");
        filter = input.value.toUpperCase();
        table = document.getElementById("DocumentsTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[7];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

    <script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("DocumentsTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Сделайте цикл, который будет продолжаться до тех пор, пока
  никакого переключения не было сделано: */
  while (switching) {
    // Начните с того, что скажите: переключение не выполняется:
    switching = false;
    rows = table.rows;
    /* Цикл через все строки таблицы (за исключением
    во-первых, который содержит заголовки таблиц): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Начните с того, что не должно быть никакого переключения:
      shouldSwitch = false;
      /* Получите два элемента, которые вы хотите сравнить,
      один из текущей строки и один из следующей: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Проверьте, должны ли две строки поменяться местами,
      основанный на направлении, asc или desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // Если это так, отметьте как переключатель и разорвать цикл:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // Если это так, отметьте как переключатель и разорвать цикл:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* Если переключатель был отмечен, сделайте переключатель
      и отметьте, что переключатель был сделан: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Каждый раз, когда выполняется переключение, увеличьте это число на 1:
      switchcount ++;
    } else {
      /* Если переключение не было сделано и направление "asc",
      установите направление на "desc" и снова запустите цикл while. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}


</script>

    <table class="table_sort" id="DocumentsTable" >
    <thead>
    <tr class="header">
        <th>№</th>
        <th>Дата</th>
        <th>Время</th>
        <th>№ исх.</th>
        <th>Кому</th>
        <th>Содержание</th>
        <th>Исполнитель</th>
        <th onclick="sortTable(7)">Отдел</th>
        <th onclick="sortTable(8)">Автор регистрации</th>
    </tr>
    </thead>
    {% for item in object_list %}
    <tbody>
    <tr>
            <td>{{ item.number }}</td>
            <td>{{ item.reg_date }}</td>
            <td>{{ item.reg_time }}</td>
            <td>{{ item.number_out }}</td>
            <td>{{ item.to_whom }}</td>
            <td class="toleftedge">{{ item.what }}</td>
            <td class="toleftedge">{{ item.executor }}</td>
            <td>{{ item.departament }}</td>
            <td class="toleftedge">{{ item.author }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock content %}