<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}


{% block content %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">

<style>
* {
  box-sizing: border-box;
}
#myInput {
  background-image: url('/static/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}


</style>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Поиск по отделу...">

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("DocumentsTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[7];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<table id="DocumentsTable" >
    <tr class="header">
        <th>№</th>
        <th>Дата</th>
        <th>Время</th>
        <th>№ исх.</th>
        <th>Кому</th>
        <th>Содержание</th>
        <th>Исполнитель</th>
        <th>Отдел</th>
        <th>Автор регистрации</th>
    </tr>
    {% for item in object_list %}
    <tr>
            <td>{{ item.number }}</td>
            <td>{{ item.reg_date }}</td>
            <td>{{ item.reg_time }}</td>
            <td>{{ item.number_out }}</td>
            <td>{{ item.to_whom }}</td>
            <td class="toleftedge">{{ item.what }}</td>
            <td class="toleftedge">{{ item.executor }}</td>
            <td>{{ item.departament }}</td>
            <td class="toleftedge">{{ item.author }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}