<!-- Шаблон для страницы с добавлением новой записи в базу -->
{% extends 'base.html' %}


{% block content %}
    <h1>Регистрация нового документа</h1>

<style>

.form__wrapper {
    width: 660px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 16px;
}


.main {
  list-style-type: none;
}
.fieldWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}
.fieldWrapper > label {
    padding: 8px 16px 8px 0;
    flex: 1;
}

.fieldWrapper > input {
  flex: 2;*
  margin:10px 0;
  padding:15px;
  border-radius:10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: .3s box-shadow;
  border: none;
}

.fieldWrapper > select {
  flex: 2;*
  width: 100%;
  padding:15px;
  border-radius:10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: .3s box-shadow;
  border: none;
}

.fieldWrapper > input:focus {
  background-color: white;
  border-color: white;
}

.fieldWrapper > input[type="submit"] {
    padding:10px;
    border-radius:10px;
    margin:auto;
    width:200px;
}
.fieldWrapper > input[type="submit"]:focus {
  background-color: white;
  border-color: black;
  // and any other style
}

.fieldWrapper > input[type="submit"]:hover  {
   border-color: black;
}

</style>
<div class="form__wrapper">
    <form action="" method="post">

        {% csrf_token %}
        <ul class="main">

            <li class="fieldWrapper">
                <input id="number_out" type="text" name="number_out" value={{out}} >
                {{form.number_out.errors}}
            </li>

            <li class="fieldWrapper">
                <input id="to_whom" type="text" name="to_whom" placeholder="Кому...">
                {{form.to_whom.errors}}
            </li>

            <li class="fieldWrapper">
                <input id="what" type="text" name="what" placeholder="Содержание...">
                {{form.what.errors}}
            </li>

            <li class="fieldWrapper">
                <input id="executor" type="text" name="executor" placeholder="Исполнитель...">
                {{form.executor.errors}}
            </li>

            <li class="fieldWrapper">
                <select id="document_index" name="document_index">
                    <option  value="01">01 - Приказы и распоряжения вышестоящих организаций</option>
                    <option  value="02">02 - Приказы и распоряжения директора Учреждения по основной деятельности</option>
                    <option  value="03">03 - Положение об отделе и должностные инструкции. Копии.</option>
                    <option  value="04">04 - ДСП. Переписка с организациями по вопросам деятельности отдела</option>
                    <option  value="05">05 - Журнал регистрации документов (поручения, доклады, обзоры, сводки и пр)</option>
                    <option  value="06" selected>06 - Документы по основной деятельности (служебные записки)</option>
                    <option  value="07">07 - Документы по делопроизводству (передаточные описи, акты приёма-передачи и пр)</option>
                    <option  value="08">08 - Журнал регистрации договоров подряда (относительно деятельности отдела)</option>
                    <option  value="09">09 - Договоры подряда (копии)</option>
                    <option  value="10">10 - Технические и научные отчёты по выполенным работам</option>
                    <option  value="11">11 - Свидетельства о поверке приборов (сертификаты соответствия)</option>
                </select>
            </li>

            <li class="fieldWrapper">
                <input type="submit" value="Зарегистрировать" />
            </li>
        </ul>
    </form>
</div>
{% endblock content %}