{% extends 'base.html' %}
{% block content %}
    <h1>Регистрация нового договора</h1>

<style>

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form__wrapper {
    width: 300px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 16px;
}


.main {
  list-style-type: none;
}
.fieldWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}
.fieldWrapper > label {
    padding: 8px 16px 8px 0;
    flex: 1;
}

.fieldWrapper > input {
  flex: 2;*
  margin:10px 0;
  padding:10px;
  border-radius:10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: .3s box-shadow;
  border: none;
}

.fieldWrapper > input:focus {
  background-color: white;
  border-color: white;
}

.fieldWrapper > input[type="submit"] {
    padding:10px;
    border-radius:10px;
    margin:auto;
    width:200px;
}
.fieldWrapper > input[type="submit"]:focus {
  background-color: white;
  border-color: black;
  // and any other style
}

.fieldWrapper > input[type="submit"]:hover  {
   border-color: black;
}

</style>
<div class="form__wrapper">
    <form action="" method="post">

        {% csrf_token %}
        <ul class="main">

            <li class="fieldWrapper">
                {% if user.groups.get.name == "Геодинамики" %}
                    <input id="departament_code" type="text" name="departament_code" value="155">
                {%else%}
                    {% if user.groups.get.name == "Гравиметрии" %}
                        <input id="departament_code" type="text" name="departament_code" value="152">
                    {%else%}
                        <input id="departament_code" type="text" name="departament_code" placeholder="Код отдела...">
                    {%endif%}
                {%endif%}
            </li>

            <li class="fieldWrapper">
                <input id="contract_index" type="text" name="contract_index" placeholder="Индекс договора...">
            </li>

            <li class="fieldWrapper">
                <input id="number" type="text" name="number" placeholder="Номер договора...">

            </li>

            <li class="fieldWrapper">
                <input id="executor" type="text" name="executor" placeholder="Исполнитель...">

            </li>

            <li class="fieldWrapper">
                <input id="contract_cost" type="text" name="contract_cost" placeholder="Стоимость...">

            </li>

            <li class="fieldWrapper">
                <input id="contract_status" type="text" name="contract_status" placeholder="Статус договора...">

            </li>

            <li class="fieldWrapper">
                {{form.contract_date}}

            </li>

            <li class="fieldWrapper">
                <input type="submit" value="Зарегистрировать" />
            </li>
        </ul>
    </form>
</div>
{% endblock content %}