<!-- templates/base.html -->
{% load static %}

<html>
  <head>
    <title>Журнал ОГиГ</title>
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <header>
              <div class="nav-left">
          <h1><a href="{% url 'home' %}">Журнал регистрации документов</a></h1>
        </div>

            <div class="nav-right">
          <a href="{% url 'new_entry' %}">+ Зарегистрировать новый документ</a>
        </div>

        <a href="{% url 'admin:index' %}">Панель администратора</a>
      </header>
          {% if user.is_authenticated %}
        <p>Здравствуй, {{ user.first_name }}!</p>
        <p><a href="{% url 'logout' %}">Выйти</a></p>
        <div>
      {% block content %}
        {% endblock content %}
    </div>
      {% else %}
        <p>Вы не вошли в систему. Ваш доступ к просмотру или редактированию журнала ограничен.</p>
        <a href="{% url 'login' %}">Войти в систему</a>
      {% endif %}
  </body>
</html>