<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}


{% block content %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<table>
    <tr>
        <th>№</th>
        <th>Дата</th>
        <th>Время</th>
        <th>№ исх.</th>
        <th>Кому</th>
        <th>Содержание</th>
        <th>Исполнитель</th>
        <th>Отдел</th>
        <th>Автор регистрации</th>
    </tr>
    {% for item in object_list %}
    <tr>
        {% if user.username != "admin" %}
                {% for group in user.groups.all %}
                    {% if group.name == item.departament %}
                        <td>{{ item.number }}</td>
                        <td>{{ item.reg_date }}</td>
                        <td>{{ item.reg_time }}</td>
                        <td>{{ item.number_out }}</td>
                        <td>{{ item.to_whom }}</td>
                        <td>{{ item.what }}</td>
                        <td>{{ item.executor }}</td>
                        <td>{{ item.departament }}</td>
                        <td>{{ item.author }}</td>
                    {% endif %}
                {% endfor %}
        {% else %}
            <td>{{ item.number }}</td>
            <td>{{ item.reg_date }}</td>
            <td>{{ item.reg_time }}</td>
            <td>{{ item.number_out }}</td>
            <td>{{ item.to_whom }}</td>
            <td>{{ item.what }}</td>
            <td>{{ item.executor }}</td>
            <td>{{ item.departament }}</td>
            <td>{{ item.author }}</td>
        {% endif %}
    </tr>

    {% endfor %}
</table>
{% endblock content %}